{% extends 'base.html' %}

{% load static %}

{% block title %}Portfolio{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <style>
        .hero.is-link{
            background-color: {{ backgroundcolor }};
        }
    </style>
    <section class="hero is-medium is-link">
        <div class="hero-body columns">
            <div class="column is-three-fifths">
                <p class="title">
                    Kyle Burkholder
                </p>
                <p class="subtitle">
                    Programmer, Kombucha Brewer, Video Game Enjoyer, Cat Dad, Vegan
                </p>
            </div>
            <div class="column is-one-fifth-desktop">
                <figure class="image is-128x128 container">
                    <img class="is-rounded" src="{% static 'images/014.jpg' %}">
                </figure>
            </div>
        </div>
    </section>
{% endblock %}