{% extends 'base.html' %}

{% block title %}All Games{% endblock %}

{% block navbar_links %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1 class="title">{{title}}</h1>
                <h2 class="subtitle">{{subtitle}}</h2>
            </div>
            <div class="column">
                <a href="{% url 'game_create' %}"><button class="button is-primary">Add game</button></a>
            </div>
        </div>
    </div>
    <div class="container">
        {% include "./sort_form.html" %}
    </div>
    <br>
    <div class="columns is-vcentered">
        <table class="table container">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Ownership Status</th>
                </tr>
            </thead>
            {% for game in games %}
                <tr>
                    <th><a href="{% url 'game_detail' pk=game.id %}">{{game.title}}</a></th>
                    <th>{{game.release_date}}</th>
                    <th>
                        <form method="post" action="{% url 'obtain_game' %}">
                            {% csrf_token %}
                            {% if game.owned or all_owned %}
                                <input type="hidden" name="remove" value=true></input>
                                <button type="submit" name="game_id" value="{{game.id}}" class="button is-danger">Remove Ownership</button>
                                <div class="buttons">
                                    <a href="{% url 'owned_game_update' pk=game.owned %}">Edit Ownership</a>
                                </div>
                            {% else %}
                                {% for console in game.console_platforms.all %}
                                    <input type="checkbox" name="consoles" value={{console.id}}>{{console.name}}</input><br/>
                                {% endfor %}
                                <button type="submit" name="game_id" value="{{game.id}}" class="button is-primary">Obtain</button>
                            {% endif %}
                            {% if redirect_url %}
                                <input type="hidden" name="redirect_url" value="{{redirect_url}}"></input>
                            {% endif %}
                        </form>
                    </th>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}